@charset "UTF-8";

aside, .adminArea{
    padding-top : 150px;
    padding-bottom : 150px;
}
aside{
	position : relative;
    float: left;
    margin-top: 55px;
    margin-right: 20px;
    margin-left: 5%;
}
.adminArea input{
    border : 1px solid var(--black-color);
}
.notice_head {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 50px;
    font-weight: 500;
}

.table_area {
    width: 850px;
    height: auto;
}
.m_table {
    border: none;
    border-bottom: var(--main-color) solid 3px;
}
.adminArea  th {
    text-align: center;
    border-top: var(--main-color) solid 3px;
    border-bottom: var(--main-color) solid 3px;
    background-color: rgba(178, 191, 80, 0.1);
    font-size: 13pt;
}
.adminArea  td {
    text-align: center;
    position: relative;
    font-size: 11pt;
    font-weight: 400;
}
.adminArea  tr {
    line-height: 35px;
    border-bottom: var(--main-color) solid 1px;
}
.adminArea  th:nth-child(1) {
    width: 55px;
}
.adminArea  th:nth-child(2) {
    width: 90px;
}
.adminArea  th:nth-child(3) {
    width: 80px;
}
.adminArea  th:nth-child(4) {
    width: 120px;
}
.adminArea  th:nth-child(5) {
    width: 180px;
}
.adminArea  th:nth-child(6) {
    width: 100px;
}
.adminArea  th:nth-child(7),
.adminArea  th:nth-child(8),
.adminArea  th:nth-child(9) {
    width: 60px;
}
.btn_area {
    position: relative;
    width: 50px;
    height: 32px;
}
[id*=m_btn] {
    border-radius: 5px;
    border: none;
    background-color: var(--main-color);
    width: 40px;
    line-height: 25px;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#her_update,
#her_delete {
    border-radius: 5px;
    border: none;
    background-color: var(--main-color);
    width: 90px;
    line-height: 25px;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.admin_menu_area {
    position: relative;
    width: 115px;
    height: 300px;
    background: var(--light-gray);
    box-shadow: 5px 5px 5px 0.2px rgba(0, 0, 0, 0.1);

}
aside img {
    padding-top: 15px;
    width: 50px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#menu_title {
    font-size: 16pt;
    margin: 10px auto 10px auto;
    text-align: center;
    position: block;
}
#menu_hr {
    height: 2px;
    width: 80%;
    background: var(--gray-color);
    position: block;
    margin: 15px auto 3px auto;
}
#menu_detail>li {
    width: 100%;
    line-height: 32px;
    font-size: 14pt;
    text-align: center;
}
#menu_detail>li:hover {
    background: var(--gray-color);
    cursor: pointer;
    color: white;
    transition: 0.1s;
}
#section_hr {
    height: 2px;
    width: 80%;
    background: var(--main-color);
    position: block;
    margin: 15px auto 10px auto;
}
.d_table {
    margin-top: 15px;
    text-align: left;
    border-collapse: separate;
    border-spacing: 0px 20px;
    font-size: 14px;
}
#submit_btn{
    margin-left: 50%;
    margin-top: 3%;
    margin-bottom: 10%;
    width: 130px;
    height: 40px;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
}
#her_no{
    width: 75px;
}
#her_id{
    width: 615px;
}
#her_table_btn{
    width: 160px;
}

.her_btn_area{
    height: 32px;
}