@charset "utf-8";

.profileArea{
	padding-top : 150px;
	padding-bottom : 150px;
}
.top_area{
    display: flex;
    margin-top: 30px;
    width: 1000;
    justify-content: space-between;
}
.profile_first{
    width: 150px;
    height: 25px;
}
.profile_img{
    width: 350px;
    height: 295px;
    background: #82b8d9;
    margin-right: 30px;
}

.profile_top{
    margin-bottom: 50px;
}
.green_title {
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 25px;
    background: var(--main-color);
    position: absolute;
}
.profile_area{
    width: 620px;
    position: relative;
}
.profile_area h3{
    display : inline-block;
    padding-left : 15px;
    vertical-align: middle;
    font-size : 18px;
    font-weight: 700;
}

.profile_modify{
    border: 2px solid #b7b7b7;
    width: 620px;
    height: 40px;
    float: left;
    text-align: center;
    color: #b7b7b7;
    background: white;
    margin-top: 8px;
    line-height: 35px;
}
.tabs_area{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.tabs{
    padding: 0 0 0 0;
    height: 48px;
    margin: 0 0 0 0;
}
.tabs li{
    float: left;
    width : 250px;
    height : 48px;
    background : white;
    cursor : pointer;
}
.chk{
    width : 250px;
}

.tabs li .chk {
    height: 3px;
    visibility: hidden;
}
.tabs li.current .chk {
    height: 3px;
    background : var(--main-color);
    visibility: visible;
}
.tabs li>h3{
    font-size : 18px;
    text-align : center;
    color: #b7b7b7;
    line-height: 40px;
}
.tabs li.current{
    background : var(--light-gray);
}

.tabs li.current>h3{
    color: #262626;
}
.tab-content{
    display : none;
}
.tab-content.current{
    display : inherit;
    
}
.current_tab{
    width: 1000px;
    height: 1000px;
    background: #fafafa;
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    padding: 20px;
    padding-bottom: 50px;

}

.like_content{
    background: white;
    width: 310px;
    height: 300px;
    padding: 20px;
    
}
.like_content>p{
    line-height: 30px;
}
.keword li{
    list-style: none;
    display: inline-block;
    height: 25px;
    width: 73px;
    border-radius: 5px;
    background: var(--main-color);
    cursor: pointer;
    margin: 0px 5px 5px 0;
    padding: 2px 5px 0 5px;
    font-size: 12px;
    color: var(--black-color);
    text-align: center;
    line-height: 20px;
}



.keword{
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.profile_content{
    height: 100px;
    margin-top: 35px;
}

.profile_content td{
    font-size: 14px;
    padding-bottom: 10px;
}

/* ---------------- */

.small-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}


#p_like_userName{
    color: var(--black-color);
    margin-left: 14px;
    position: absolute;
}
#p_like_coment{
    color:  #b7b7b7;
    font-size: 14px;

}
.like_nameArea{
    position: relative;
}
.like_titleArea{
    width: 300px;
    position: relative;
}
.like_titleArea > h4{
    padding-top : 15px;
    font-size: 16px;
    font-weight: 400;
}
.like_titleArea>span{
    position: absolute;
    color: var(--black-color);
    height: 25px;
    width: 73px;
    border-radius: 5px;
    background: var(--main-color);
    cursor: pointer;
    margin: 6px 5px 5px 0;
    padding: 2px 5px 0 5px;
    font-size: 12px;
    color: var(--black-color);
    text-align: center;
    line-height: 25px;
    top: -6px;
    left: 200px;
}
.like_date{
    color: var(--gray-color);
    font-size: 12px;
}
.like_photo{
    display: flex;
    justify-content: space-between;
    width: 280px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.like_photo_sample{
    width: 40px;
    height: 40px;
    background: black;
}
.like_btnArea{
    position: relative;
}
.like_comentBtn{
    position: absolute;
    top: 0px;
    left: 50px;
}
.fa-comment-dots{
    color: var(--gray-color);
}
.fa-heart{
    color: var(--red-color);
}
.modal{ 
    position:absolute; 
    width:100%; 
    height:100%; 
    background: rgba(0,0,0,0.3); 
    top:0; 
    left:0; 
    display:none; }

.modal_content{
    width: 960px;
    height: auto;
    background: white;
    margin-top: 100px;
    padding: 10px 20px 20px 20px;
    overflow-y: initial !important;
    height: auto;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
}
.madal_review{
    font-size: 12px;
    line-height: 22px;
}

.madal_like_titleArea{
    width: 960px;
    position: relative;
}
.madal_like_titleArea>span{
    position: absolute;
    color: var(--black-color);
    height: 25px;
    width: 73px;
    border-radius: 5px;
    background: var(--main-color);
    cursor: pointer;
    margin: 6px 5px 5px 0;
    padding: 2px 5px 0 5px;
    font-size: 12px;
    color: var(--black-color);
    text-align: center;
    line-height: 25px;
    top: -6px;
    left: 850px;
}
.carousel-item>img{
    width: 560px;
    height: 400px;
}

.modal_content_close{
    color: var(--black-color);
    position: absolute;
    left: 908px;
    cursor: pointer;
    font-size: 20px;
    color: var(--gray-color)
}


 /*slide CSS */
 ul, li {list-style:none;}
 
 
 .slidebox {max-width:920px;margin:0 auto;position:relative;}
 .slidebox .slidelist {position:relative;white-space:nowrap;font-size:0;overflow:hidden;}
 .slidebox .slidelist .slideitem {position:relative;display:inline-block;vertical-align:middle;background-color:#fff;width:100%;transition:all 1s;}
 .slidebox .slidelist .slideitem > a {display:inline-block;margin: 10px;width:auto;position:relative;}
 .slidebox .slidelist .slideitem > a img {max-width:100%;}
 
 .slidebox .slide-control [class*="control"] label {position:absolute;z-index:10;top:50%;transform:translateY(-50%);padding:20px;border-radius:50%;cursor:pointer;}
 .slidebox .slide-control [class*="control"] label.prev {left:-50px;background: url('../image/left.png') center center / 50% no-repeat;}
 .slidebox .slide-control [class*="control"] label.next {right:-50px;background: url('../image/right.png') center center / 50% no-repeat;}
 
 [name="slide"] {display:none;}
 #slide01:checked ~ .slidelist .slideitem {left:0;}
 #slide02:checked ~ .slidelist .slideitem {left:-100%;}
 #slide03:checked ~ .slidelist .slideitem {left:-200%;}
 #slide04:checked ~ .slidelist .slideitem {left:-300%;}
 
 .slide-control [class*="control"] {display:none;}
 #slide01:checked ~ .slide-control .control01 {display:block;}
 #slide02:checked ~ .slide-control .control02 {display:block;}
 #slide03:checked ~ .slide-control .control03 {display:block;}
 #slide04:checked ~ .slide-control .control04 {display:block;}
 

/* ì°œ icon */
.markIcon i {
    position: absolute;
    bottom: 10px;
    right: 10px;

    color: red;
    cursor: pointer;
}

.markIcon.active i {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: red;
}

.togolist_area{
    width: 960px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* hotSpot */

.hotSpot {
    position: relative;
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    overflow: hidden;

    background: #000000;
    color: #ffffff;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);

    
    
    /* float: left;
    margin-left: 30px;  
    transform: translateX(-50px);   */

}


.hotSpot:hover img {
    opacity: 0.35;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    width: 300px;
    height: 300px;
  }

.hotSpot img {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    object-fit: cover;

}

.spotInfo{
    position: absolute;
    align-items: center;
    width: 300px;
    height: 300px;
}

.spotInfo h4{
    color: white;
    font-size: 18px;
    text-shadow: 10px 10px 10px var(--black-color);
    font-weight: 500;
    transform: translate(120px, 110px);
    margin-bottom : 10px;
    
}
.spotInfo p{
    color: white;
    font-size: 12px;
    text-shadow: 5px 5px 5px var(--black-color);
    display: inline-block;
    text-align: center;
    transform: translate(100px, 100px);
}