@charset "UTF-8";

/* header */
header{
    width: 100%;
    height: 88px;
    box-shadow: 0px 0.5px 5px 0px rgba(0,0,0,0.5);
}
header h1{
   display: none; 
}
header .navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
}
header .profile {
    transform: translateY(15px);
    width : 36px;
}
header .profile img{
	cursor : pointer;
}
/* user menu */
header .profile img{
    cursor : pointer;
}
header .user_menu {
    position: absolute;
    top: 80px;
    right: -10px;
    padding: 10px 20px;
    background: var(--white-color);
    width: 150px;
    box-sizing: 0 5px 25px rgba(0,0,0, 0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    transform: translate(7px, -17px);
}
header .user_menu.active {
    visibility: visible;
    opacity: 1;
}
header .user_menu::before {
    content: '';
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: var(--light-gray);
    transform: rotate(45deg);
}
header .user_menu h3 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    color: var(--black-color);
    line-height: 1.2em;
}
header .user_menu h3 span {
    font-size: 12px;
    color: var(--gray-color);
    font-weight: 400;
}
header .user_menu ul li{
    font-size: 12px;
    list-style: none;
    padding: 5px 0;
    border-top: 1px solid rgba(0,0,0,0.04);
    direction: flex;
    align-items: center;
    justify-content: center;

}
header .user_menu li a{
    font-size : 12px;
}
header .user_menu ul li i{
    font-size: 16px;
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
    padding: 8px 8px;
}
header .user_menu ul li:hover i{
    opacity: 1;
}
header .user_menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: var(--black-color);
    font-weight: 500;
    transition: 0.5s;
}
header .user_menu ul li a:hover {
    color: var(--main-color);
}
